[Unit]
Description=Local Python HTTP API
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/user/CPSC222/python_api.py
WorkinDirectory=/home/user/CPSC222
User=user
Restart=always

[Install]
WantedBy=multi-user.target
